<%= form_for @professor, html: { multipart: true } do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor.errors.count, "erro") %>
            proibiram que este professor fosse salvo: </h2>

      <ul>
      <% @professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nome Completo' %><br>
    <%= f.text_field :fullname %>
  </div>

  <div class="field">
    <%= f.label 'Escola' %><br>
    <%= f.select(:school, ["Centro Federal de Educacão Tecnológica de Minas Gerais (CEFET-MG)",
      "Faculdade de Ciências Médicas da Santa Casa de São Paulo (FCMSCSP)",
      "Faculdade de Medicina de São José do Rio Preto (FAMERP)",
      "Fundação Getulio Vargas (FGV)",
      "Instituto Tecnológico de Aeronáutica (ITA)",
      "Pontificia Universidade Católica de São Paulo (PUC-SP)",
      "Pontificia Universidade Católica do Campinas (PUC-CAMPINAS)",
      "Pontificia Universidade Católica do Minas Gerais (PUC-MINAS)",
      "Pontificia Universidade Católica do Paraná (PUCPR)",
      "Pontificia Universidade Católica do Rio de Janeiro (PUC-RIO)",
      "Pontificia Universidade Católica do Rio Grande do Sul (PUCRS)",
      "Senac Serviço Nacional de Aprendizagem Comercial Departamento Nacional",
      "Universidade Católica de Brasilia",
      "Universidade de Brasília (UNB)",
      "Universidade de Caxias do Sul",
      "Universidade de Fortaleza (UNIFOR)",
      "Universidade de Passo Fundo",
      "Universidade de Pernambuco",
      "Universidade de Santa Cruz do Sul (UNISC)",
      "Universidade do Estado da Bahia (UNEB)",
      "Universidade do Estado de Mato Grosso (UNEMAT)",
      "Universidade do Estado de Santa Catarina (UDESC)",
      "Universidade do Estado do Rio de Janeiro (UERJ)",
      "Universidade do Extremo Sul Catarinense (UNESC)",
      "Universidade do Sul de Santa Catarina (UNISUL)",
      "Universidade do Vale do Itajaí (UNIVALI)",
      "Universidade do Vale do Rio dos Sinos (UNISINOS)",
      "Universidade Estácio de Sá",
      "Universidade Estadual da Paraíba (UEPB)",
      "Universidade Estadual de Campinas (UNICAMP)",
      "Universidade Estadual de Feira de Santana (UEFS)",
      "Universidade Estadual de Goiás (UEG)",
      "Universidade Estadual de Londrina",
      "Universidade Estadual de Maringá",
      "Universidade Estadual de Montes Claros (UNIMONTES)",
      "Universidade Estadual de Ponta Grossa (UEPG)",
      "Universidade Estadual de Santa Cruz (UESC)",
      "Universidade Estadual do Ceará",
      "Universidade Estadual do Centro Oeste (UNICENTRO)",
      "Universidade Estadual do Norte Fluminense Darcy Ribeiro",
      "Universidade Estadual do Oeste do Paraná (UNIOSTE)",
      "Universidade Estadual do Sudoeste da Bahia (UESB)",
      "Universidade Estadual Paulista Júlio de Mesquita Filho",
      "Universidade Federal da Bahia",
      "Universidade Federal da Grande Dourados (UFGD)",
      "Universidade Federal da Paraíba (UFPB)",
      "Universidade Federal de Alagoas",
      "Universidade Federal de Alfenas (UNIFAL-MG)",
      "Universidade Federal de Campina Grande",
      "Universidade Federal de Goiás (UFG)",
      "Universidade Federal de Itajubá (UNIFEI)",
      "Universidade Federal de Juiz de Fora (UFJF)",
      "Universidade Federal de Lavras (UFLA)",
      "Universidade Federal de Mato Grosso",
      "Universidade Federal de Mato Grosso do Sul",
      "Universidade Federal de Minas Gerais (UFMG)",
      "Universidade Federal de Ouro Preto (UFOP)",
      "Universidade Federal de Pelotas (UFPEL)",
      "Universidade Federal de Pernambuco",
      "Universidade Federal de Rondônia",
      "Universidade Federal de Santa Catarina (UFSC)",
      "Universidade Federal de Santa Maria (UFSM)",
      "Universidade Federal de São Carlos",
      "Universidade Federal de São João del Rei (UFSJ)",
      "Universidade Federal de São Paulo (UNIFESP)",
      "Universidade Federal de Sergipe (UFS)",
      "Universidade Federal de Uberlândia",
      "Universidade Federal de Viçosa (UFV)",
      "Universidade Federal do ABC (UFABC)",
      "Universidade Federal do Acre (UFAC)",
      "Universidade Federal do Amazonas (UFAM)",
      "Universidade Federal do Ceará",
      "Universidade Federal do Espírito Santo",
      "Universidade Federal do Estado do Rio de Janeiro (UNIRIO)",
      "Universidade Federal do Maranhão",
      "Universidade Federal do Pampa (UNIPAMPA)",
      "Universidade Federal do Pará (UFPA)",
      "Universidade Federal do Paraná",
      "Universidade Federal do Piauí (UFPI)",
      "Universidade Federal do Recôncavo da Bahia (UFRB)",
      "Universidade Federal do Rio de Janeiro",
      "Universidade Federal do Rio Grande do Norte",
      "Universidade Federal do Rio Grande do Sul (UFRGS)",
      "Universidade Federal do Rio Grande (FURG)",
      "Universidade Federal do Tocantins (UFT)",
      "Universidade Federal do Vale do São Francisco (UNIVASF)",
      "Universidade Federal dos Vales do Jequitinhonha e Mucuri (UFVJM)",
      "Universidade Federal Fluminense",
      "Universidade Federal Rural da Amazônia",
      "Universidade Federal Rural de Pernambuco (UFRPE)",
      "Universidade Federal Rural do Rio de Janeiro (UFRRJ)",
      "Universidade Luterana do Brasil (ULBRA)",
      "Universidade Metodista de São Paulo",
      "Universidade Nove de Julho",
      "Universidade Paulista (UNIP)",
      "Universidade Presbiteriana Mackenzie",
      "Universidade Regional de Blumenau (FURB)",
      "Universidade Tecnológica Federal do Paraná (UTFRP)",
      "Universidade Veiga de Almeida",  "Outro"], prompt: "Selecione") %>
      <br />
     <%= f.text_field :school, value: "FGV", class: "school-show", style: "display: none;"%>

  </div>
  <div class="field">
      <%= f.check_box :terms_of_service %>  Aceito os
      <%= link_to "termos e condições", terms_path %> do site
  </div>
  <br>
  <div class="field">

<!--  <legend>Photo</legend>
  <%= f.file_field :photo %>
-->
  <%= raw recaptcha_tags %>
</div>
<br>
  <div class="actions">
    <%= f.submit "Inserir", class: "btn btn-primary"%>
  </div>
<% end %>

<script>
$(document).ready(function(){

$('#professor_school').change(function() {
  if(this.value == "Outro") {
    $('.school-show').show();
    $('.school-show').val('');
  }else{
    $('.school-show').hide();
    $('.school-show').val(this.value);
  }
});
});
</script>
