<%= form_for @professor, html: { multipart: true } do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor.errors.count, "erro") %> proibiram que este professor fosse salvo:
</h2>

      <ul>
      <% @professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nome Completo' %><br>
    <%= f.text_field :fullname %>
  </div>

  <div class="field">
    <%= f.label 'Escola' %><br>
    <%= f.select(:school, ["FGV", "Other"]) %>
     <%= f.text_field :school, value: "FVG", class: "school-show", style: "display: none;"%>

  </div>
  <div class="field">
      <%= f.check_box :terms_of_service %>  I agree to the website's <%= link_to "terms & conditions", terms_path %>

  </div>
  <br>
  <div class="field">

<!--  <legend>Photo</legend>
  <%= f.file_field :photo %>
-->
  <%= raw recaptcha_tags %>
</div>
<br>
  <div class="actions">
    <%= f.submit "Inserir", class: "btn btn-primary"%>
  </div>
<% end %>

<script>
$(document).ready(function(){

$('#professor_school').change(function() {
  if(this.value == "Other") {
    $('.school-show').show();
    $('.school-show').val('');
  }else{
    $('.school-show').hide();
    $('.school-show').val(this.value);
  }
});
});
</script>
