<%= form_for @professor, html: { multipart: true } do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor.errors.count, "erro") %> proibiram que este professor fosse salvo:
</h2>

      <ul>
      <% @professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nome Completo' %><br>
    <%= f.text_field :fullname %>
  </div>

  <div class="field">
    <%= f.label 'Escola' %><br>
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label 'Department' %><br>
    <%= f.text_field :department %>
  </div>
  <div class="field">

<!--  <legend>Photo</legend>
  <%= f.file_field :photo %>
-->
  <%= raw recaptcha_tags %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
