<% if !user_signed_in?  %>
  <div class="jumbotron">
    <h1> Professor Review </h1>
    <p> Read reviews before chooing a class, rate your professors at the end of the semester
      and sign in to add a professor. </p>
      <p> <%= link_to "Sign up to add a professor", signup_path, class: "btn btn-primary btn-lg" %></p>

  </div>
<% end %>
<div class="row">

<% @professors.each do |professor| %>
<div class="panel panel-default">
  <div class=" panel-body">
    <h3><%= link_to professor.try(:fullname), professor %></h3>
        <%= professor.try(:school) %>
        <%= professor.try(:department) %>
      </div>
</div>

  <% end %>

</div>
 <%= will_paginate @professors %>
