
<div class="row">

Classifica: <%= sortable "fullname", "Nome" %> | <%= sortable "created_at", "Data Criada" %>
</div>
  <div class="row">
<div class="list-group">
  <ul class="list-unstyled">
<% @professors.each do |professor| %>

  <%= link_to professor, class: "list-group-item" do %>
  <h4><%= professor.fullname %></h4>
        <%= professor.school %>


        <% end %>

  <% end %>
</ul>
</div>
    </div>
 <%= will_paginate @professors %>
