
<div class="panel panel-default">

  <div class="pannel-body">
    <div class="row">

            <div class="col-md-6">
                <h1 class="review_title"> <%= @professor.fullname %> </h1>
                <ul class="list-unstyled">
                  <% if !@review.blank? %>
                  <li> <strong>Average Review: </strong><div class="star-rating" data-score= <%= @avg_review %> </div></li>
                  <% end %>

                  <li><strong>School: </strong><%= @professor.school %></li>
                  <li><strong>Department: </strong>  <%= @professor.department %></li>
                  <li><%= "#{@review.length}" " Review".pluralize(@review.length)%></li>
                </ul>
            </div>
      <div class="col-md-4">

          </br>
          </br>
          <% if !@review.blank? %>
            <%= link_to "Review this Professor", new_professor_review_path(@professor), class: "btn btn-primary"%>
          <% end %>
      </div>

      <div class="col-md-8">

          <% if @review.blank? %>
            <h3> This professor is not yet reviewed would you like to review: </h3>
            <%= link_to "Review Now!", new_professor_review_path(@professor), class: "btn btn-danger btn-lg" %>
          <% else %>
            <% @review.each do |review| %>
              <div class="reviews">
                <div class="star-rating" data-score= <%= review.hw %> </div>
                  </br>
                  <%= review.comment %>

              </div>
          </div>
          <% end %>
          <% end %>
      </div>
    </div>
  </div>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Delete', @professor, method: :delete, data: {confirm: "Are you sure you want to delete this professor?"} %> |
<% end %>

<%= link_to 'Flag', flag_professor_path(@professor), method: :post, :remote => true %>
<%= link_to 'Back', professors_path %>


<script> $(document).ready
  $("#flag").on("ajax:success", (e, data, status, xhr)
    $("#flag").append xhr.responseText
  ).on "ajax:error", (e, xhr, status, error)
    $("#flag").append "<p>ERROR</p>"
    </script>
<script>
  $('.star-rating').raty({
      path: 'http://dev.travisfantina.com/stars/',
      readOnly: true, score: function(){
          return $(this).attr('data-score');
      }
  });
  </script>
