 <div class="intro">
    <h1>Avalie Meu Professor</h1>

    <p> Descrição: Pesquise antes de começar as suas aulas. Avalie (ou adicione) seu professor no final do semestre.
 </p>
    <!--  <p> With over <%= @num %> professors we are your go to choice!</p> -->

      <p> Pesquise seu professor ou <%= link_to "sua faculdade no banco de dados.", professors_path %> </p>

        <%= form_tag search_professors_path, method: :get, class: "form form-sm", role: "Search" do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Professor" %>
        <%= submit_tag "Pesquisar", name: nil, class: "btn btn-success" %>
      </p>
      <% end %>
</div>

  <div class="row">
  <% @footer.each do |professor| %>
     <div class=".col-sm-6 col-md-3">
       <div class="thumbnail">

         <h3><%= professor.try(:fullname) %></h3>
         <ul class="list-unstyled text-muted">
           <li> <%= professor.try(:school) %></li>
           <li class="small"> <%= professor.try(:department) %></li>
         </ul>
       </div>
      </div>
    <% end %>

  </div>
