<!-- form for ratings -->

<%= form_for([@professor, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "erro") %>  proibiram que este avalie fosse salvo:</h2>
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



    <div class="field">
      The following are required to save review:
    </div>
    <!-- ratings -->
    <div class="table-responsive">
      <table class="table col-sm-4">
        <tr>
          <td class="col-md-4">Facilidade: </td>
          <td class="col-sm-2"><div id="star-ease"></div></td>
        </tr>
        <tr>
          <td class="col-md-4">Seu interesse na matéria:</td>
          <td class="col-sm-2"><div id="star-interesting"></div></td>
        </tr>
        <tr>
          <td class="col-md-4">O professor importou-se com seu aprendizado?</td>
          <td class="col-sm-2"><div id="star-helpfull"></div></td>
        </tr>
      </table>
    </div>
    <div class="field" >
      Comentários:
      <br/>
      <%= f.text_area :comment, cols: "60", rows: "5" %>
    </div>


    <!-- about professor -->
    These questions are optional.
    <div class="field">
      Boa didática? Sim?
      <%= f.check_box :teachwell %>
    </div>

    <div class="field">
      Recomendaria esse professor? Sim?
      <%= f.check_box :recommend %>
    </div>
    <!-- generic student information -->
    <div class="field">
      Matéria que o professor lecionou? <%= f.text_field :whatclass %>
    </div>
    <div class="field">
      Qual sua graduação?
      <%= f.text_field :major %>
    </div>
    <div class="field">
      Nota recebida?  0-10
      <%= f.select :grade, [10,9,8,7,6,5,4,3,2,1], include_blank: true %>
    </div>



    <!-- terms of service & captcha -->

    <div class="field">
      <%= f.check_box :terms_of_service %>  Aceito os
        <%= link_to "termos e condições ", terms_path %> do site

    </div>

    <%= raw recaptcha_tags %>

    <div class="btn-submit text-center">
       <%= f.submit "Inserir", class: "btn btn-primary"%>

    </div>


<% end %>




<script>

  $('#star-ease').raty({
    path: 'http://dev.travisfantina.com/services/AvaliarMeuProfessor/stars/',
    scoreName: 'review[ease]'
  });
  $('#star-interesting').raty({
    path: 'http://dev.travisfantina.com/services/AvaliarMeuProfessor/stars/',
    scoreName: 'review[interesting]'
  });
  $('#star-helpfull').raty({
    path: 'http://dev.travisfantina.com/services/AvaliarMeuProfessor/stars/',
    scoreName: 'review[helpfull]'
  });

  $('#star-ease').raty('review[ease]')

/*
$(document).ready(function()  {
  toggleFields();
  $("#age").change(function () {
    toggleFields();
  });
});

function toggleFields() {
  if($("#age").val() == "13 or younger")
  $("#parentPermission").show();
  else {
    $("#parentPermission").hide();
  }
}

*/

  $(document).ready(function(){

  $('#age').change(function() {
    if(this.value <= 13) {
      $('#parentPermission').show();
    }else{
      $('#parentPermission').hide();

    }
  });
  });
  </script>
