<%= form_for([@professor, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- ratings -->
  <div class="field">
    <strong>Facilidade: </strong>
    <div id="star-ease"></div>
  </div>
<br>

  <div class="field">
    <strong>  Seu interesse na matéria: </strong>
    <div id="star-interesting"></div>
  </div>
<br>

  <div class="field">
    <strong>O professor importou-se com seu aprendizado?</strong>
    <div id="star-helpfull"></div>
  </div>
  <br>


    <br>
    <div class="field" >
      <strong>comentários:</strong><br>
      <%= f.text_area :comment, cols: "60", rows: "5" %>
    </div>


  <!-- terms of service & captcha -->


  <div class="field">
      <%= f.check_box :terms_of_service %>  I agree to the website's <%= link_to "terms & conditions", terms_path %>
  </div>
  <br>
  <%= raw recaptcha_tags %>
  <br>
  <div class="actions">
    <%= f.submit "Inserir", class: "btn btn-primary"%>
  </div>


<% end %>

<script>

  $('#star-ease').raty({
    path: 'http://dev.travisfantina.com/services/AvaliarMeuProfessor/stars/',
    scoreName: 'review[ease]'
  });
  $('#star-interesting').raty({
    path: 'http://dev.travisfantina.com/services/AvaliarMeuProfessor/stars/',
    scoreName: 'review[interesting]'
  });
  $('#star-helpfull').raty({
    path: 'http://dev.travisfantina.com/services/AvaliarMeuProfessor/stars/',
    scoreName: 'review[helpfull]'
  });


  $(document).ready(function(){

  $('#review_classe').change(function() {
    if(this.value == "Other Class") {
      $('.class-show').show();
      $('.class-show').val('');
    }else{
      $('.class-show').hide();
      $('.class-show').val(this.value);
    }
  });
  });


  </script>
