<%= form_for([@professor, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field" >

      <strong>class:</strong><br>
        <%= f.collection_select(:classe, Review.order(:classe), :id, :classe,
                                :include_blank => "Other Class",
                                :prompt => "Class") %>
        <%= f.text_field :classe, class: "addClass", style: "visibility: hidden" %>
   </div>

<select id="age" name="age">
  <option value="14">14-18</option>
  <option value="19">19-24</option>
  <option value="25">25 and older</option>
    <option value="13">13 or younger</option>
</select>
<div id="parentPermission">
    <p>Parents Name:
      <input type="text" name="parent_name" />
    </p>
</div>


    <!-- ratings -->
  <div class="field">
    <strong>Facilidade: </strong>
    <div id="star-ease"></div>
  </div>
<br>

  <div class="field">
    <strong>  Seu interesse na matéria: </strong>
    <div id="star-interesting"></div>
  </div>
<br>

  <div class="field">
    <strong>O professor importou-se com seu aprendizado?</strong>
    <div id="star-helpfull"></div>
  </div>
  <br>


    <br>
    <div class="field" >
      <strong>comentários:</strong><br>
      <%= f.text_area :comment, cols: "60", rows: "5" %>
    </div>


  <!-- terms of service & captcha -->


  <div class="field">
      <%= f.check_box :terms_of_service %>  I agree to the website's <%= link_to "terms & conditions", terms_path %>
  </div>
  <br>
  <%= raw recaptcha_tags %>
  <br>
  <div class="actions">
    <%= f.submit "Inserir", class: "btn btn-primary"%>
  </div>


<% end %>

<script>

  $('#star-ease').raty({
    path: 'http://dev.travisfantina.com/services/AvaliarMeuProfessor/stars/',
    scoreName: 'review[ease]'
  });
  $('#star-interesting').raty({
    path: 'http://dev.travisfantina.com/services/AvaliarMeuProfessor/stars/',
    scoreName: 'review[interesting]'
  });
  $('#star-helpfull').raty({
    path: 'http://dev.travisfantina.com/services/AvaliarMeuProfessor/stars/',
    scoreName: 'review[helpfull]'
  });
/*
$(document).ready(function()  {
  toggleFields();
  $("#age").change(function () {
    toggleFields();
  });
});

function toggleFields() {
  if($("#age").val() == "13 or younger")
  $("#parentPermission").show();
  else {
    $("#parentPermission").hide();
  }
}

*/

  $(document).ready(function(){

  $('#age').change(function() {
    if(this.value <= 13) {
      $('#parentPermission').show();
    }else{
      $('#parentPermission').hide();

    }
  });
  });


  </script>
